body{
    background-color: pink;
    box-sizing: border-box;
}

.navbar {
    display:flex;
    justify-content: space-between;
    width:90vw;
    height: 8vh;
    align-items: center;
    border: 1px solid black;
}
.navbar-logo {
    padding-left: 30px;
}
.navbar-element {
    /* width:70vw; */
    /* border: 1px solid black; */
    /* justify-content: space-around; */

}
.navbar-element-center {
    background-color: aliceblue;
    display: inline;
    justify-content: space-around;
    width:50vw;
    border: 1px solid black;
    padding: 0px 5px;
    
}
.navbar-button{
    background-color:darkgray;
    color:white;
    border:1px solid black;
    border-radius: 5px;
    text-decoration: none;
    padding: 5px 30px;
}